* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: white;
  list-style: none;
}

body {
  background-color: black;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

.firstprev::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c29d5c;
}
header {
  display: flex;
  height: 10vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.burgermenu {
  display: none;
}
.bar {
  display: none;
}
.picture {
  margin-top: 0.5%;
  /* width: 9vw; */
}

.picture img {
  width: 9vh;
}

a,
.contact {
  text-decoration: none;
  font-size: 150%;
  transition: 0.3s ease;
}
a:hover {
  color: #303030;
}

.contact {
  text-decoration: underline;
}

nav {
  display: grid;
  place-items: center;
}

.linear-line {
  height: 1.2vh;
  width: 70vw;
  background: linear-gradient(
    90deg,
    rgba(185, 127, 36, 0.3906) 0%,
    rgba(191, 149, 83, 0.62) 21.15%,
    rgba(205, 199, 217, 0.62) 40.94%,
    rgba(150, 123, 182, 0.62) 61.25%,
    rgba(102, 54, 157, 0.62) 81.04%,
    rgba(82, 40, 136, 0.4588) 100%
  );
  border-radius: 30px 0px 30px 0px;
}

.firstprev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.secondprev {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.purplewave {
  background: url("../img/108959-purple-wave-png-free-photo.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollarrow {
  margin-top: 80px;
  background-image: url("../img/Arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  width: 4.5rem;
  height: 4.5rem;
}

.laptop {
  background-image: url("../img/pngegg.png");
  position: absolute;
  top: 12vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.laptop .blackbox {
  width: 47.5vw;
  height: 52.5vh;
  margin-bottom: 6vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.blackbox h1 {
  color: white;
}

#email {
  width: 60%;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

.blackbox form {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

form > * {
  width: 40%;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

textarea[name="message"] {
  width: 80%;
  flex-grow: 0.8;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

.send {
  align-self: flex-end;
  width: 17.5%;
  height: 10%;
  background-color: #303030;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2c2c2;
  font-size: 1.2em;
  margin-right: 8.5%;
}

.send:hover {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c2c2c2;
  opacity: 1; /* Firefox */
}

.foto2nd img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 300px;
  box-shadow: inset 0px 4px 50px 30px rgba(0, 0, 0, 0.75);
}

.arrownxpt {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
  height: 20px;
  text-decoration: none;
}

.arrownxpt p {
  color: #c29d5c;
}

.arrowimg img {
  height: 40px;
}
.arrowimg {
  margin-top: -20px;
  margin-left: -5px;
}
.text {
  color: white;
  height: fit-content;
  width: 40%;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

footer {
  background-image: url(../img/main-background-color+footer.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style: none;
  margin-top: 15em;
  gap: 1em;
}
.socials {
  color: white;
  font-size: 20px;
  /* margin-left: 50%; */
  /* left: 7.0%; */
  /* margin-top: 10.5%;
  margin-right: 1%; */
}
footer ul li img {
  height: 50px;
  border-radius: 100%;
  border: 2px solid black;
}

@media only screen and (max-width: 550px) {
  .list {
    display: none;
  }
  .burgermenu {
    display: block;
    align-self: center;
    position: fixed;
    right: 2vw;
    z-index: 100;
  }
  .bar {
    display: block;
    width: 37.5px;
    height: 4.5px;
    margin: 7.5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  a:hover {
    color: grey;
  }
  .burgermenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burgermenu.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .burgermenu.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #303030;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .picture.active{
    z-index: 101;
    position: fixed;
  }
  
  .laptop {
    background-image: url("../img/phone.png");
    min-width: 100vw;
    margin-top: -1vh;
  }
  .laptop .blackbox {
    min-width: 50vw;
    min-height: 55vh;
    margin-bottom: 1vh;
    gap: 1rem;
  }
  #email {
    width: 90%;
    margin-left: 0.5vw;
    padding: 0.5em;
  }
  .blackbox form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* margin-right: 1vw; */
  }
  form > * {
    width: 90%;
    padding: 0.5em;
  }
  textarea[name="message"] {
    width: 90%;
    margin-left: 0.5vw;
    padding: 0.5em;
  }
  .send {
    width: 40%;
    margin: 0;
  }

  .purplewave {
    background-position: bottom;
    background-size: cover;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secondprev .text {
    display: none;
  }

  footer {
    height: 15vh;
  }
  footer ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
    margin-top: 3em;
    gap: 1em;
  }
  .socials {
    color: white;
    font-size: 15px;
  }
  footer ul li img {
    height: 50px;
    border-radius: 100%;
    border: 2px solid black;
  }

  .firstprev {
    height: 69vh;
  }
  .scrollarrow {
    margin-top: 40px;
    width: 3rem;
    height: 3rem;
  }
}
