* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
  min-height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  transition-duration: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c29d5c;
}
header {
  max-height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
}

.list {
  /* width: 85vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.picture {
  margin-top: 0.5%;
}

.picture img {
  width: 10vh;
}

header ul li {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 150%;
}

.homelist {
  display: flex;
  align-items: center;
}

.home {
  margin-right: 50px;
}

.contact {
  text-decoration: underline;
}

nav {
  display: grid;
  place-items: center;
}

.linear-line {
  height: 1.2vh;
  width: 85vw;
  margin-left: 5vw;
  background: linear-gradient(
    90deg,
    rgba(185, 127, 36, 0.3906) 0%,
    rgba(191, 149, 83, 0.62) 21.15%,
    rgba(205, 199, 217, 0.62) 40.94%,
    rgba(150, 123, 182, 0.62) 61.25%,
    rgba(102, 54, 157, 0.62) 81.04%,
    rgba(82, 40, 136, 0.4588) 100%
  );
  border-radius: 30px 0px 30px 0px;
}

.firstprev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.secondprev {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.purplewave {
  background: url("../img/108959-purple-wave-png-free-photo.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollarrow {
  margin-top: 80px;
  width: 100px;
  height: 100px;
  background-image: url("../img/Arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
}

.laptop {
  background-image: url("../img/pngegg.png");
  position: absolute;
  top: 12vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.laptop .blackbox {
  width: 47.5vw;
  height: 52.5vh;
  margin-bottom: 6vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.blackbox h1 {
  color: white;
}

#email {
  width: 60%;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

.blackbox form {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

form > * {
  width: 40%;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

textarea[name="message"] {
  /* min-height: 100px; */
  width: 80%;
  flex-grow: 0.8;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  resize: none;
  background-color: #303030;
  color: white;
}

.send {
  align-self: flex-end;
  width: 17.5%;
  height: 10%;
  background-color: #303030;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2c2c2;
  font-size: 1.2em;
  margin-right: 8.5%;
}

.send:hover {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c2c2c2;
  opacity: 1; /* Firefox */
}

.foto2nd img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 300px;
  box-shadow: inset 0px 4px 50px 30px rgba(0, 0, 0, 0.75);
}

.arrownxpt {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
  height: 20px;
  text-decoration: none;
}

.arrownxpt p {
  color: #c29d5c;
}

.arrowimg img {
  height: 40px;
}
.arrowimg {
  margin-top: -20px;
  margin-left: -5px;
}
.text {
  color: white;
  height: fit-content;
  width: 40%;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

footer {
  background-image: url(../img/main-background-color+footer.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: auto;
  height: 300px;
  display: flex;
  justify-content: end;
}

.socials {
  color: white;
  font-size: 20px;
  width: 100px;
  height: auto;
  position: relative;
  top: 15px;
  right: 10%;
  /* left: 7.0%; */
  /* margin-top: 10.5%;
  margin-right: 1%; */
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 60px;
  list-style: none;
  position: relative;
  top: 75%;
  right: 7.5%;
  /* margin-top: 10%;
  margin-right: 10%; */
}

footer ul li img {
  height: 50px;
  border-radius: 100%;
  border: 2px solid black;
}


@media only screen and (max-width: 450px) {
  .laptop {
    background-image: url("../img/phone.png");
    width: 100vw;
    margin-top: -3vh;
  }
  .laptop .blackbox {
    width: 50vw;
    height: 55vh;
    margin-bottom: 1vh;
    gap: 1rem;
  }
  #email{
    width: 90%;
    margin-left: 0.5vw;
  }
  .blackbox form{
    flex-direction: column;
    width: 100%;
    margin-right: 1vw;
  }
  form > *{
    width: 90%;
  }
  textarea[name="message"]{
    width: 90%;
    margin-left: 0.5vw;
  }

  .purplewave{
    background-position: bottom;
    background-size: cover;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .secondprev .text{
    display: none;
  }

  footer{
    height: 15vh;
  }

  .firstprev{
    height: 75vh;
  }
  .firstprev .scrollarrow{
    height: 60px;
  }

}